@model IEnumerable<again.Models.Library>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.LibraryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
